
    <header class="cabecalho">
        <a class="cabecalho__logo" href="#">Logo</a>

        <nav class="menu" data-menu>
            <button class="menu__botao" aria-label="Abrir menu" aria-haspopup="true" aria-controls="menu-lista" aria-expanded="false">
                Menu
                <span class="menu__hamburguer"></span>
            </button>
        
            <ul class="menu__lista" id="menu-lista">
                <li class="menu__item"><a href="#">Sobre</a></li>
                <li class="menu__item"><a href="#">Produtos</a></li>
                <li class="menu__item"><a href="#">Portfólio</a></li>
                <li class="menu__item"><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>